.idea/
.vscode/
__pycache__/
.catkin_tools/
build/*
devel/*
logs/*
.catkin_tools/
./src/CMakeLists.txt
.ccache
ecmaster*.log
ecmaster*.csv

node_modules/
.docusaurus/
new-docs
.cache/
**/build
.aider*
src/manipulation_nodes/planarmwebsocketservice/models/*.pt
.claude/
src/kuavo_humanoid_sdk/kuavo_humanoid_sdk/kuavo_strategy_v2/pick_place_box/logs/**
bag/*
src/legged_control
src/legged_perceptive
src/Livox-SDK2
