<?xml version="1.0" ?>
<launch>
    <arg name="joystick_type" default="bt2"/>

    <include file="$(find joy)/launch/joy_node.launch">
    </include>

    <param name="channel_map_path" value="$(find humanoid_controllers)/launch/joy/$(arg joystick_type).json"/>
    <param name="joystick_sensitivity" value="20"/>
    <node pkg="humanoid_interface_ros" type="humanoid_joy_control_auto_gait_with_vel" name="humanoid_joy_control_auto_gait_with_vel" output="screen">

    </node>
</launch>
